
body{
    background-color: rgb(248, 229, 201);
    margin: 0; 
    padding: 0; 
}


.container {
    width: 400px;
    background-color: #131212;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(105, 78, 78, 0.2);
    text-align: center;
    margin-top: 50px;
    margin-left: 500px;
}

.screen input{
    background-color: #d9f0a4;
    border-radius: 5px;
    margin-top: 10px;
   padding: 30px 70px;
   font-size: 20px;
}

.buttons {
    background-color: #323331;
    margin-top: 10px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
}

.button {

    
    
    font-size: 28px;
    padding: 15px;
    cursor: pointer;
    padding: 1px 2px;
    margin: 2px 3px;
    

}

.number {
    background-color: #f1eaab;
    padding: 1px 2px;
    border-radius: 10px;
    font-size: 20px;
}


.clear {
    background-color: #e2f382;
    border-radius: 10px;
    font-size: 20px;
}

.equal {
    background-color: #ada176;
    border-radius: 10px;
    font-size: 20px;
}


.operators {
    
    background-color: #8a8982;
    border-radius: 10px;
    font-size: 20px;
}
.operators :hover{
    color: aliceblue;
}
